html {
    background-color: pink;
}

header {
    background-color: aqua;
    border: 1px solid brown;
}

header > h1 {
    background-color: yellow;
    padding: 30px;   
    border: 1px solid black; 
}

strong {
    background-color: lime;
}

aside {
    background-color: rgba(0,0,255, 0.5);
}
em{
    background-color: paleturquoise;
}